---
import { IdToSlug } from "../utils/hash";
import { Icon } from "astro-icon/components";
import PostCardInfoIcon from "./widgets/PostCardInfoIcon.astro";
import { GetCoverURLForUnspecifiedEntry } from "../utils/cover";
import { i18n } from "../locales/translation";
import I18nKeys from "../locales/keys";
import aoyukiConfig from "../../aoyuki.config";
import { formatDate, formatDateFull } from "../utils/date";

export interface Props {
  id: string;
  title: string;
  published: Date;
  category?: string;
  tags?: string[];
  description?: string;
  image?: string;
  hex?: string;
  readingMetadata: { time: number; wordCount: number };
}

const props = Astro.props;
const entryID = IdToSlug(props.id);
const contentUrl = `/posts/${entryID}`;
const { time, wordCount } = props.readingMetadata;

// const accentClass = props.hex ? `bg-[${props.hex.toLowerCase()}]` : "bg-[var(--primary-color)]"
const accent = props.hex ? props.hex.toLowerCase() : null;
---

<div
  class="group relative mx-3 flex flex-col overflow-hidden rounded-3xl lg:mx-0 lg:h-[212px]"
>
  <div class="absolute inset-0 z-0 h-full w-full">
    <img
      class="lozad h-full w-full object-cover transition-transform duration-500 group-hover:scale-105"
      data-src={props.image ?? GetCoverURLForUnspecifiedEntry(entryID).src}
      alt="CoverPost"
    />
    <div
      class="absolute inset-0 bg-[var(--card-color)] opacity-85 transition-opacity duration-500 group-hover:opacity-80"
    >
    </div>
  </div>
  <a
    href={contentUrl}
    class="relative z-10 h-[128px] transition-all hover:brightness-75 lg:hidden"
  >
    <div class="absolute bottom-2 w-full">
      <div class="mx-2 flex flex-row justify-between">
        <div
          class="flex flex-row items-center space-x-2 rounded-md bg-black/50 px-1.5 py-0.5 text-[var(--primary-color-lighten)] dark:text-[var(--text-color)]"
        >
          <Icon name="material-symbols:calendar-month-rounded" />
          <span class="select-none">
            {formatDateFull(props.published)}
          </span>
        </div>
        {
          props.category && (
            <div class="flex flex-row items-center space-x-2 rounded-md bg-black/50 px-1.5 py-0.5 text-[var(--primary-color-lighten)] dark:text-[var(--text-color)]">
              <Icon name="dashicons:category" />
              <span class="max-w-28 select-none truncate">
                {props.category}
              </span>
            </div>
          )
        }
      </div>
    </div>
  </a>
  <div class="relative z-10 flex h-[128px] flex-row lg:h-[212px]">
    <div
      class="flex w-full flex-col justify-between pb-5 pl-5 pr-6 pt-3 lg:w-[calc(var(--page-width-lg)-404px)] lg:py-7 lg:pr-0 xl:w-[calc(var(--page-width-xl)-676px)]"
    >
      <div class="flex w-full flex-row items-center">
        <div
          class="mx-2 hidden h-6 w-1 translate-y-[1px] rounded-lg bg-[var(--primary-color)] lg:block"
          style={accent ? { backgroundColor: accent } : null}
        >
        </div>
        <a
          href={contentUrl}
          class="title"
          style={accent ? { color: accent } : null}
        >
          <p class="truncate">{props.title}</p>
          <Icon
            name="line-md:chevron-right"
            class="translate-y-[0.07rem] text-[var(--primary-color--lighten)]"
            style={accent ? { color: accent } : null}
          />
        </a>
      </div>
      <div class="ml-2 hidden lg:block">
        <ul class="flex flex-row space-x-4">
          <li class="data">
            <!-- <PostCardInfoIcon name="material-symbols:calendar-month-rounded" /> -->
            <div
              class="mr-2 hidden h-6 w-1 translate-y-[1px] rounded-lg bg-[var(--text-color-lighten)] opacity-60 lg:block"
            >
            </div>
            <span class="select-none opacity-60">
              {formatDateFull(props.published)}
            </span>
          </li>
          {
            props.category && (
              <li class="data space-x-1.5">
                <PostCardInfoIcon
                  name="material-symbols:folder"
                  custom_hex={accent}
                />
                <a
                  class="select-none rounded-md px-1.5 py-0.5 text-[var(--text-color-lighten)] transition-all hover:bg-[var(--primary-color-lighten)] hover:text-[var(--primary-color)]"
                  href={`/categories/${IdToSlug(props.category)}`}
                >
                  {props.category}
                </a>
              </li>
            )
          }
          <li
            class="hidden items-center overflow-clip md:block lg:hidden xl:block"
          >
            {
              props.tags && (
                <div class="data space-x-2">
                  <PostCardInfoIcon
                    name="material-symbols:bookmark-manager"
                    custom_hex={accent}
                  />
                  <ul class="flex flex-row items-center space-x-1">
                    {props.tags.slice(0, 2).map((tag, index) => (
                      <li class="flex select-none flex-row items-center text-[var(--text-color-lighten)]">
                        {index > 0 && <span class="pr-1">/</span>}
                        <a
                          class="rounded-md px-1.5 py-0.5 transition-all hover:bg-[var(--primary-color-lighten)] hover:text-[var(--primary-color)]"
                          href={`/tags/${IdToSlug(tag)}`}
                        >
                          {tag}
                        </a>
                      </li>
                    ))}
                    {props.tags.length > 2 && (
                      <div class="text-[var(--text-color-lighten)]">
                        <span class="pr-1">/</span>
                        ...
                      </div>
                    )}
                  </ul>
                </div>
              )
            }
          </li>
        </ul>
      </div>
      <div class="lg:ml-2">
        <p class="desc">{props.description}</p>
      </div>
      <div>
        <div class="select-none lg:ml-2">
          <div class="reading-time flex flex-row">
            <span>
              {wordCount.toLocaleString()}
              {i18n(I18nKeys.post_card_words)}
            </span>
            <span class="pl-1">|</span>
            <Icon class="pl-1" name="cuida:clock-outline" size={24} />
            <span>
              {time}
              {
                time === 1
                  ? i18n(I18nKeys.post_card_minute)
                  : i18n(I18nKeys.post_card_minutes)
              }
              {i18n(I18nKeys.post_card_read)}
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="cover-container">
      <a href={contentUrl} class="cover-wrapper">
        <Icon class="right-icon" name="cuida:caret-right-outline" size={96} />
        <img
          class="lozad h-[212px] w-[404px] select-none rounded-r-3xl object-cover dark:brightness-90"
          data-src={props.image ?? GetCoverURLForUnspecifiedEntry(entryID)}
          alt="PostCover"
        />
      </a>
    </div> -->
  </div>
</div>
<style>
  .title {
    @apply flex w-full flex-row items-center space-x-1 align-top text-xl font-semibold text-[var(--text-color)] lg:text-2xl;
    @apply transition-all hover:brightness-125;
    font-family: var(--primary-font);
  }

  .data {
    font-family: var(--primary-font);
    @apply flex flex-row items-center;
  }

  .data > span {
    @apply inline-block self-center truncate align-middle text-[var(--text-color-lighten)];
    font-family: var(--primary-font);
  }

  .desc {
    @apply line-clamp-1 text-[var(--text-color)];
    font-family: var(--primary-font);
  }

  .reading-time {
    @apply space-x-1 align-middle text-sm text-[var(--text-color-lighten)];
    font-family: var(--primary-font);
  }

  .cover-container {
    @apply relative ml-2 hidden h-[212px] min-w-[404px] max-w-[404px] select-none lg:block;
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 10% 100%); /* does the thing */
  }

  .cover-wrapper {
    @apply h-full w-full select-none overflow-hidden rounded-r-3xl;
  }

  .cover-wrapper::before {
    @apply absolute left-0 h-full w-0 select-none rounded-r-3xl bg-black opacity-50;
    content: "";
    z-index: 1;
    transition: all 0.3s;
  }

  .cover-wrapper::before:hover {
    @apply h-full w-full select-none;
  }

  .right-icon {
    @apply absolute left-1/2 top-1/2 z-[10] -translate-x-1/2 -translate-y-1/2 text-white;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transition: all 0.3s;
  }

  .cover-wrapper:hover .right-icon {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }
</style>
