---
import { IdToSlug } from "../utils/hash";
import { Icon } from "astro-icon/components";
import PostCardInfoIcon from "./widgets/PostCardInfoIcon.astro";
import { i18n } from "../locales/translation";
import I18nKeys from "../locales/keys";
import { formatDateFull } from "../utils/date";

export interface Props {
  title: string;
  published: Date;
  category?: string;
  tags?: string[];
  hex?: string;
  readingMetadata: { time: number; wordCount: number };
}

const props = Astro.props;
const { time, wordCount } = props.readingMetadata;
const accent = props.hex ? props.hex.toLowerCase() : null;
---

<div class="mb-4 flex flex-col pb-4">
  <div class="mb-3 flex w-full flex-row items-center">
    <div
      class="mr-3 hidden h-8 w-1.5 rounded-lg bg-[var(--primary-color)] lg:block"
      style={accent ? { backgroundColor: accent } : null}
    >
    </div>
    <div
      class="title text-3xl font-bold text-[var(--text-color)]"
      style={accent ? { color: accent } : null}
    >
      {props.title}
    </div>
  </div>

  <div class="lg:ml-4.5 flex flex-col gap-2 gap-y-3">
    <ul class="flex flex-row flex-wrap gap-4">
      <li class="data">
        <div
          class="mr-2 hidden h-6 w-1 translate-y-[1px] rounded-lg bg-[var(--text-color-lighten)] opacity-60 lg:block"
        >
        </div>
        <span class="select-none opacity-60">
          {formatDateFull(props.published)}
        </span>
      </li>
      {
        props.category && (
          <li class="data space-x-1.5">
            <PostCardInfoIcon
              name="material-symbols:folder"
              custom_hex={accent}
            />
            <a
              class="select-none rounded-md px-1.5 py-0.5 text-[var(--text-color-lighten)] transition-all hover:bg-[var(--primary-color-lighten)] hover:text-[var(--primary-color)]"
              href={`/categories/${IdToSlug(props.category)}`}
            >
              {props.category}
            </a>
          </li>
        )
      }
      {
        props.tags && props.tags.length > 0 && (
          <li class="data flex items-center space-x-2">
            <PostCardInfoIcon
              name="material-symbols:bookmark-manager"
              custom_hex={accent}
            />
            <ul class="flex flex-row flex-wrap items-center space-x-1">
              {props.tags.map((tag, index) => (
                <li class="flex select-none flex-row items-center text-[var(--text-color-lighten)]">
                  {index > 0 && <span class="pr-1">/</span>}
                  <a
                    class="rounded-md px-1.5 py-0.5 transition-all hover:bg-[var(--primary-color-lighten)] hover:text-[var(--primary-color)]"
                    href={`/tags/${IdToSlug(tag)}`}
                  >
                    {tag}
                  </a>
                </li>
              ))}
            </ul>
          </li>
        )
      }
    </ul>

    <div class="select-none">
      <div class="reading-time flex flex-row">
        <span>
          {wordCount.toLocaleString()}
          {i18n(I18nKeys.post_card_words)}
        </span>
        <span class="pl-1">|</span>
        <Icon class="pl-1" name="cuida:clock-outline" size={24} />
        <span>
          {time}
          {
            time === 1
              ? i18n(I18nKeys.post_card_minute)
              : i18n(I18nKeys.post_card_minutes)
          }
          {i18n(I18nKeys.post_card_read)}
        </span>
      </div>
    </div>
  </div>
</div>

<style>
  .title {
    font-family: var(--primary-font);
  }

  .data {
    font-family: var(--primary-font);
    @apply flex flex-row items-center;
  }

  .data > span {
    @apply inline-block self-center align-middle text-[var(--text-color-lighten)];
    font-family: var(--primary-font);
  }

  .reading-time {
    @apply space-x-1 align-middle text-sm text-[var(--text-color-lighten)];
    font-family: var(--primary-font);
  }
</style>
