---
import Main from "../layouts/MainLayout.astro";
import Markdown from "../components/Markdown.astro";
import CopyRight from "../components/misc/CopyRight.astro";

interface Props {
  title?: string;
  subTitle?: string;
  cover?: string;
  coverCredit?: {text: string; url?: string};
  published?: Date;
  license?: {
    name: string;
    url?: string;
  };
  hex?: string;
  author?: string;
  sourceLink?: string;
}

const {
  title,
  subTitle,
  cover,
  coverCredit,
  published,
  license,
  author,
  hex,
  sourceLink,
} = Astro.props;
---

<Main title={title} subTitle={subTitle} cover={cover} coverCredit={coverCredit} hex={hex}>
  <!-- <Fragment set:html={tocHTMLString} /> -->
  <div class="article-wrapper">
    <div class="article">
      <Markdown>
        <slot />
      </Markdown>
      {
        published && title && (
          <CopyRight
            title={title}
            published={published}
            license={license}
            author={author}
            sourceLink={sourceLink}
          />
        )
      }
    </div>
  </div>
</Main>

<style>
  .article-wrapper {
    @apply mx-3 rounded-2xl bg-[var(--card-color)] px-5 py-6 lg:mx-0 lg:px-10 lg:py-9;
  }
  .article {
    @apply flex flex-col;
    font-size: var(--primary-font);
  }
</style>
